# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.*
*.filters

# Build output directories
bin/
obj/
out/
x64/
Debug/
Release/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.dir/

# Compiled Object files
*.d
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker / Debugger
*.ilk
*.pdb

# Libraries
*.lai
*.la
*.a
*.lib
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# Debug info
*.dwo

# Misc
*.log
*.recipe
*.tlog
*.lastbuildstate
